<!DOCTYPE html>
<html>
<head>
  <title>FormsJinny</title>
  <%= stylesheet_link_tag    "forms_jinny/application", media: "all" %>
  <%= javascript_include_tag "forms_jinny/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
